<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>등록</h1>

    <form name="myform" id="myform" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- html 서버로 전송시켜서 => request객체에 담아서 모델에 담아서 디비에 저장
         이걸 form 클래스가 이걸 대체한다. 
         form 클래스에 있는 fields와 labels를 보고 직접 태그를 생성한다. p태그로 감싸서
         데이터를 입력으로 받을 것들만 지정해야 한다. -->


        <!-- 이름 : <input type="text" name="name" id="name"> <br/>
        국어 : <input type="text" name="kor" id="kor"> <br/>
        영어 : <input type="text" name="eng" id="eng"> <br/>
        수학 : <input type="text" name="mat" id="mat"> <br/> -->

        <button type="button" id="btnSend">등록</button>
    </form>
</body>
<script>
    // html DOM 구조가 완성되고 나면 onload 이벤트가 발생한다.
    window.onload= ()=> {
        document.querySelector("#btnSend").addEventListener("click", ()=>{
            let frm = document.myform; // from 객체를 가져온다. name 속성
            // let frm = document.querySelector("#myform") 도 가능하다. id 속성
            frm.method = "post";
            frm.action = "/score/save";
            frm.submit();   // 서버로 전송하기
        });
    }
</script>
</html>