<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>등록</h1>

    <form name="myform" id="myform" action="" method="post">
        {% csrf_token %}
        이름 : <input type="text" name="name" id="name"> <br/>
        국어 : <input type="text" name="kor" id="kor"> <br/>
        영어 : <input type="text" name="eng" id="eng"> <br/>
        수학 : <input type="text" name="mat" id="mat"> <br/>

        <button type="button" id="btnSend">등록</button>
    </form>
</body>
<script>
    // html DOM 구조가 완성되고 나면 onload 이벤트가 발생한다.
    window.onload= ()=> {
        document.querySelector("#btnSend").addEventListener("click", ()=>{
            let frm = document.myform; // from 객체를 가져온다. name 속성
            // let frm = document.querySelector("#myform") 도 가능하다. id 속성
            frm.method = "post";
            frm.action = "/score/save";
            frm.submit();   // 서버로 전송하기
        });
    }
</script>
</html>