<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- blog/write로 접근할 때 get방식으로 전달할 때 내부에서 토큰을 만들어서 html에 전달되면 이걸 저장하려고 할때 다시 보내줘야 한다. -->
    <form action="/blog/save" method="post">
        <!-- csrf_token은 반드시 form 태그 안에 줘야 한다. -->
        {% csrf_token %}
        제목: <input type="text" name="title" id="title"> <br/>
        작성자: <input type="text" name="writer" id="writer"> <br/>
        내용: <textarea name="contents" rows="10" cols="80"></textarea> <br/>

        <button>등록</button>
    </form>
</body>
</html>