<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>리스트 파일</h1>
    <ul>
    {% for item in blogList %}
        <!-- <a href='/blog/view/1'>제목</a>        요즘 거-->
        <!-- <a href='/blog/view?id=1'>제목</a>     옛날 거-->
        <!-- 아래는 요즘 거로 받는다면 요즘 형태로, 옛날 거로 받는다면 옛날 형태로 바꿔준다. -->
        <li><a href="{% url 'blog:blog_view' item.id %}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>